services:
  gateway-service:
    build: ./gateway-service
    depends_on:
      - wheelbarrow-service
      - category-service
    networks:
      - aui-lab-network  

    environment:
      - SERVER_PORT=8080
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_0_ID=wheelbarrow_create_service_route
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_0_URI=http://category-service:8082
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_0_PREDICATES_0=Path=/api/categories/{id}/createWheelBarrow
      
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_1_ID=wheelbarrow_service_route
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_1_URI=http://wheelbarrow-service:8082
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_1_PREDICATES_0=Path=/api/wheelbarrows/**
      
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_2_ID=category_service_route
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_2_URI=http://category-service:8081
      - SPRING_CLOUD_GATEWAY_SERVER_WEBMVC_ROUTES_2_PREDICATES_0=Path=/api/categories/**

  wheelbarrow-service:
    build: ./wheelbarrows-service
    environment:
      - SERVER_PORT=8082
    networks:
      - aui-lab-network

  category-service:
    build: ./categories-service

    environment:
      - SERVER_PORT=8081
      - WHEELBARROW_SERVICE_URL=http://wheelbarrow-service:8082/api/
    
    depends_on:
      - wheelbarrow-service

    networks:
      - aui-lab-network

  view-service:
    build: ./view-service
    ports:
      - "8080:80" 
    environment:
      - BACKEND_URL=http://gateway-service:8080
    depends_on:
      - gateway-service
    networks:
      - aui-lab-network

networks:
  aui-lab-network:
    driver: bridge