* {
  background-color: dimgrey;
}/* You can add global styles to this file, and also import other style files */

button {
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 15px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-button {
  background-color: #4CAF50;
  color: white;
}

.edit-button {
  background-color: #008CBA;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  text-align: center;
}
